<!-- Hero Section-->
<section style="background: url(<%=image_path('flag.png')%>) no-repeat;" class="hero d-flex align-items-center">
  <div class="container">
    <h1>Resultats du vote </h1>
    <div class="search-bar">
      <%= form_tag(results_path, method: :get) do %>
        <div class="row">
          <div class="form-group col-lg-4">
            <%= select_tag(
              :country, options_for_select(@countries.map{|country| [country, country]}),
              title: "Select Country <i class='fa fa-angle-down'></i>",
              class: 'listing-categories',
              id: 'countries_select'
            ) %>
          </div>
          <div class="form-group col-lg-3">
            <%= select_tag(
              :state, options_for_select(@states.collect { |state| [state, state]}),
              title: "All States <i class='fa fa-angle-down'></i>",
              class: 'listing-categories',
              id: 'states_select',
              disabled: true
            ) %>
          </div>
          <div class="form-group col-lg-3">
            <%= select_tag(
              :city, options_for_select(@cities.collect { |city| [city, city]}),
              title: "All Cities <i class='fa fa-angle-down'></i>",
              class: 'listing-categories',
              id: 'cities_select',
              disabled: true
            ) %>
          </div>
          <div class="form-group col-lg-2">
            <input type="submit" value="Search" class="submit">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
